
{% load staticfiles %}

{% block content %}
<!doctype html>
<html>
<head>
	<link rel="FaviconIcon" href="favicon.ico" type="image/x-icon">
	<title>Camagru</title>
	<meta charset='utf-8'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{% static 'js/delete.js' %}" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}"></script>

</head>

{% if user.is_authenticated %}
<div class="topnav">
	<a class="active" href="#">Camagru</a>
	<a href="{% url 'home' %}">Home</a>
	<a href="{% url 'logout' %}">Logout</a>
	<a href="{% url 'webcam:webcam' %}">Post Pictures</a>
	</div>
	<h1>Hi {{ user.username }}!</h1>
	<div class="row">
	{% for post in posts %}
		<div>
				<div class="column">
			<div class="post_info">
			{{ post.id }}
			{{ post.login }}
		
			<br>
			<a href="{% url 'post:post' post.id %}">
				<img src="{{ post.image }}">
			</a>
		</div>
			<form action="/" method="post">
				{% csrf_token %}
				<input type="hidden" name="post_id" value="{{post.id}}" />
				<input type="submit" value="delete post" class="likeButton">
			</form>
			</div>
		</div>
	{% endfor %}
	</div>

	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}
{% else %}
	<div class="topnav">
		<a class="active" href="#">Camagru</a>
		<a href="{% url 'home' %}">Home</a>
		<a href="{% url 'login' %}">Login</a>
		<a href="{% url 'signup' %}">Signup</a>
	</div>

	<h1><p>You are not logged in</p></h1>
{% endif %}
{% endblock %}